.areaTotal {
  height: fit-content;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%); }
  .areaTotal .game-container {
    border: 1px solid black;
    border-radius: 0.5rem;
    margin: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    width: 60rem;
    /* height: 40rem; */
    background-color: rgba(102, 89, 160, 0.4); }
    .areaTotal .game-container .player-container {
      padding: 50px 100px; }
      .areaTotal .game-container .player-container .player-titulo {
        text-align: center;
        font-size: 30px;
        color: white; }
      .areaTotal .game-container .player-container .player-highscore {
        text-align: center;
        font-size: 6rem; }
        .areaTotal .game-container .player-container .player-highscore p {
          margin: 0;
          padding-bottom: 100px;
          padding-top: 20px;
          color: red; }
      .areaTotal .game-container .player-container .player-currentScore_container {
        border: 1px solid #c7365f;
        width: fit-content;
        /* height: 5rem; */
        margin: auto;
        /* padding-top: 150px; */
        padding: 30px 50px;
        background-color: #c7365f;
        border-radius: 0.5rem;
        color: white; }
        .areaTotal .game-container .player-container .player-currentScore_container h3 {
          text-align: center;
          font-size: 1.25rem;
          font-weight: 100; }
        .areaTotal .game-container .player-container .player-currentScore_container p {
          text-align: center;
          padding-top: 10px;
          font-size: 2rem;
          font-weight: bolder; }
      .areaTotal .game-container .player-container .reglas-container {
        display: flex;
        flex-direction: column;
        position: relative;
        left: 80%;
        width: fit-content;
        padding-top: 30px;
        text-align: center;
        cursor: pointer;
        transition: all 0.2s; }
        .areaTotal .game-container .player-container .reglas-container :hover {
          scale: 1.2; }
        .areaTotal .game-container .player-container .reglas-container :focus {
          outline: none; }
        .areaTotal .game-container .player-container .reglas-container :active {
          transform: translate(0, 10%); }
        .areaTotal .game-container .player-container .reglas-container img {
          width: 100px; }
        .areaTotal .game-container .player-container .reglas-container p {
          color: white;
          padding-bottom: 10px; }
    .areaTotal .game-container .player-container-current {
      background-color: rgba(24, 34, 51, 0.87); }
    .areaTotal .game-container .player-ganador {
      background-color: #2f2f2f; }
    .areaTotal .game-container .botones-container {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      height: fit-content;
      font-size: 1.2rem;
      text-align: center;
      margin-top: 40px; }
      .areaTotal .game-container .botones-container .botones-juego {
        border: 0px solid black;
        border-radius: 80rem;
        width: fit-content;
        padding: 15px;
        display: flex;
        background-color: whitesmoke;
        cursor: pointer; }
        .areaTotal .game-container .botones-container .botones-juego p {
          padding-left: 10px; }
      .areaTotal .game-container .botones-container .rollDice-btn {
        margin: 320px auto 25px; }
      .areaTotal .game-container .botones-container .hold-btn {
        margin: auto; }
      .areaTotal .game-container .botones-container .oculto {
        display: none; }
      .areaTotal .game-container .botones-container .dado {
        position: absolute;
        transform: translateY(-50%);
        transform: translateX(20%);
        top: 30%; }
        .areaTotal .game-container .botones-container .dado img {
          width: 7rem; }
    .areaTotal .game-container .btn {
      text-transform: uppercase;
      cursor: pointer;
      font-weight: 400;
      transition: all 0.2s; }
      .areaTotal .game-container .btn :focus {
        outline: none; }
      .areaTotal .game-container .btn :active {
        transform: translate(0, 10%);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15); }

.reglas-container-class {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  height: fit-content;
  background-color: wheat;
  display: flex;
  flex-direction: column;
  padding: 30px;
  z-index: 100;
  line-height: 50px;
  align-items: center; }
  .reglas-container-class i {
    text-align: right;
    width: 100%;
    font-size: 30px;
    cursor: pointer; }
  .reglas-container-class p {
    text-align: left;
    width: 100%;
    display: flex; }
    .reglas-container-class p i {
      width: fit-content;
      height: fit-content;
      padding-right: 10px;
      margin: auto 0; }

.oculto {
  display: none; }

.cortina {
  -webkit-animation: fadein .2s;
  animation: fadein .2s;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: .2;
  top: 0;
  bottom: 0;
  background: #ccc; }

* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }
